@import "@/assets/mixins/mixin.scss";

// --font-Inter

.calendar-start__wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr;
  column-gap: 6px;
}

.calendar-start__calendar-wrapper {
}

.calendar-start__btn-calendar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 10px;
  border: 1px solid #b6b3c4;

  cursor: pointer;
}

.calendar-start__calendar {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;

  transition: all 0.2s ease-in-out 0s;

  z-index: 15;
}

.calendar-start__calendar-active {
  opacity: 1;
  visibility: visible;
}
