@import "@/assets/mixins/mixin.scss";

// --font-Inter

.travel-country-input__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  margin-top: 10px;
}

.travel-country-input__btn-add-row {
  position: absolute;
  right: -18px;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 10px;
  background: #f1eff5;

  cursor: pointer;
  transition: all 0.2s ease-in-out 0.05s;

  svg {
    stroke: #b6b3c4;
    transition: all 0.2s ease-in-out 0.05s;
  }

  &:hover {
    background-color: #001e80;

    svg {
      stroke: #fff;
    }
  }
}
