@import "@/assets/mixins/mixin.scss";

// --font-Inter

.second-slide__wrapper {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  @include adaptiv-row-gap(15, 10);

  width: 100%;

  @include adaptivPadding(0, 40, 0, 40, 0, 20, 0, 20);
}

.second-slide__title {
  color: #001e80;
  font-family: var(--font-Inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.second-slide__text {
  text-align: center;
  color: #001e80;
  font-family: var(--font-Inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}
